In [1]:
x = 3

In [2]:
print(x)

3

In [3]:
y = 4

In [4]:
x * y

12

In [5]:
x > y

False

In [6]:
x < y

True

In [7]:
x >= y

False

In [8]:
x <= y

True

In [9]:
x = y

In [10]:
print(x)

4

In [11]:
x == y

True

In [15]:
list_values = ['Meredith', 'Eric', 'Matt', 'Molly', 'Joe']

for name in list_values:
    print(name)

Meredith
Eric
Matt
Molly
Joe

In [17]:
for name in list_values:
    if name == "Molly":
        print(name)
    elif name == "Eric":
        print(name)
    else:
        print("The name's not molly!")

The name's not molly!
Eric
The name's not molly!
Molly
The name's not molly!

In [19]:
for name in list_values:
    if name.startswith('M'):
        print(name)

Meredith
Matt
Molly

In [21]:
M_name_list = []

for name in list_values:
    if name.startswith('M'):
        M_name_list.append(name)
        
print(M_name_list)

['Meredith', 'Matt', 'Molly']

In [22]:
M_name_list = [name for name in list_values if name.startswith('M')]

print(M_name_list)

['Meredith', 'Matt', 'Molly']

In [28]:
def get_mnames_from_list(in_name_list):
    M_name_list = []

    for name in in_name_list:
        if name.startswith('M'):
            M_name_list.append(name)
    return M_name_list

In [29]:
name_list_2 = ['Mia', 'Mason', 'Liam', 'Noah']
name_list_3 = ['Mark', 'Bill', 'George']
name_list_4 = ['Marcos', 'Frank', 'Dennis']

In [33]:
get_mnames_from_list(name_list_4)

['Marcos']

In [36]:
new_mname_list = get_mnames_from_list(name_list_4)

In [37]:
new_mname_list

['Marcos']